@import './app/app.style';

body {
	position: relative;
	margin: 0px;
	overflow-y: hidden;
  	background-color: $secondary-bg-color;
  	color: $primary-font-color;
  	font: $primary-font;
  	font-size: $primary-font-size;
}