<div class='body'>
	<div [ngClass]="{'animateIn': !animateAway, 'animateOut': animateAway}">
		<div id='media-icons'>
			<a href="https://youtube.com/c/piusnyakoojo" target='_blank'>
				<img src="https://www.youtube.com/yt/brand/media/image/YouTube-icon-full_color.png" alt='Youtube Icon'>
			</a>
			<a href="https://twitter.com/piusnyakoojo" target='_blank'>
				<img src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/twitter_letter-512.png" alt='Twitter Icon'>
			</a>
			<a href="https://github.com/piusnyakoojo" target='_blank'>
				<img src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png" alt='Github Icon'>
			</a>
		</div>
		<form id='message-form'>
			<div class='panel'>
				<input type="text" placeholder='Name' required><br>
				<input type="text" placeholder='Subject' required>
			</div>
			<div class='panel'>
				<textarea name="" id="message" cols="30" rows="10" placeholder='Message' required></textarea>
			</div><br>
			<button id='sendBtn' type='submit'>SEND</button>
		</form>
	</div>
</div>

