<div class='body'>
	<div [ngClass]="{'animateIn': !animateAway, 'animateOut': animateAway}">
		<form id='message-form'>
			<div class='panel'>
				<input type="text" placeholder='Email' required><br>
				<input type="text" placeholder='Name' required>
			</div>
			<div class='panel'>
				<input type="text" placeholder='Subject' required><br>
				<textarea name="" id="message" cols="30" rows="10" placeholder='Message' required></textarea>
			</div><br>
			<button id='sendBtn' type='submit'>SEND</button>
		</form>
		<div id='media-icons'>
			<a href="https://youtube.com/c/piusnyakoojo" target='_blank'>
				<img src="app/shared/Images/youtube.svg" alt='Youtube Icon'>
			</a>
			<a href="https://twitter.com/piusnyakoojo" target='_blank'>
				<img src="app/shared/Images/twitter.svg" alt='Twitter Icon'>
			</a>
			<a href="https://github.com/piusnyakoojo" target='_blank'>
				<img src="app/shared/Images/github.svg" alt='Github Icon'>
			</a>
		</div>
	</div>
</div>

