@import '../app.style';

$margin-from-top: 80px;

#media-icons {
	margin-top: $margin-from-top;

	img {
		max-height: 30px;
		margin: 0px 10px;

		&:hover {
			opacity: 0.8;
		}
	}
}

input {
	width: calc(100% - 10px);
	padding: 5px;
	margin: 10px 0px;
	font-size: $primary-font-size;
	border: none;
}

#message {
	width: calc(100% - 10px);
	padding: 5px;
	margin: 10px 0px;
	resize: none;
	font-size: $primary-font-size;
}

#sendBtn {
	background-color: $primary-bg-color;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: $primary-font-size;

    @include box-shadow(10px);
}