@import '../../app.style';

$margin-from-top: 100px;

#search-panel {
	margin-top: $margin-from-top;
}

#searchBar {
	font-size: $primary-font-size;
	margin: 20px 10%;
	padding: 5px;
	width: 80%;
	outline: none;
	border: none;

	&:focus {
		outline: none;
	}
}