<div class="body" [ngClass]="{animateIn: !animateAway, animateOut: animateAway}">
	<div id="title">
		<div id="name">Pius Nyakoojo</div>
		<h1 id="occupation">Software Engineer</h1>
	</div><br>
	<div id="details" class="panel">
		lkjalfkjsd
	</div>
	<div id="documents" class="panel">
		<h3 id="documents-label">Google Drive - Documents</h3>
		<hr>
		<iframe id="google-drive-frame" src="https://drive.google.com/embeddedfolderview?id=0B-dJ9sll-14wTkxUR0hVS05zZkk#grid" frameborder="0"></iframe>
	</div>
</div>

