@import '../app.style';

$title-margin-top: 200px;

#title {
	display: inline-block;
	margin-top: $title-margin-top;

	#name {
		font-size: 90px;
		@include text-shadow(20px);
	}

	#occupation {
		@include text-shadow(5px);
	}
}

#details {
	margin-top: 20px;
	height: 500px;
}

#documents-label {
	width: 100%;
	text-align: left;
	padding-left: 20px;
}

#google-drive-frame {
	background-color: white;
	margin-top: 20px;
	width: 90%;
	height: 70%;
}