<div>
	<div class='item-header'>
		<span class='item-title' *ngIf="content?.title">{{content.title}}</span>
		<span class='item-date' *ngIf="content?.date">added {{content.date | timeAgo}}</span>
	</div>
	<div>
		<div *ngIf="content.image">
			<img class="item-image" [src]="content.image" alt="Item Image">
		</div>
		<div>
			<div class='item-links' *ngIf="content?.links">
				<span *ngIf="content?.links?.demo" >Demo</span> &#8226;
				<span *ngIf="content?.links?.source" >Source</span> &#8226;
				<span *ngIf="content?.links?.video" >Video</span>
			</div>
			<div class='item-description' *ngIf="content?.description" >
				{{content.description}}
			</div>
		</div>
	</div>

	<div>
		<hr>
		<div class='item-tags' *ngIf="content?.tags">
			<ul *ngFor="let tag of content.tags | mapToIterable">
				<li>{{tag.$key}}</li>
			</ul>
		</div>
	</div>
</div>