@import '../../app.style';

.list {
	padding: 0px;
	margin: 0px;
	display: inline-block;
	list-style-type: none;
	text-align: center;
	background-color: green;
	width: $panel-width;
	min-width: $panel-min-width;

	li {
		width: 100%;
		margin: 10px 0px;
		background-color: red;
	}
}