$primary-bg-color: #222222;
$secondary-bg-color: #111111;

$shadow-color: black;

$primary-font-color: white;
$secondary-font-color: grey;

$primary-font: "Gothic", serif;
$primary-font-size: 15px;

$header-height: 50px;

$panel-width: 60%;
$panel-min-width: 500px;

@mixin box-shadow($blur) {
  -webkit-box-shadow: 0px 0px $blur $shadow-color;
  -moz-box-shadow: 0px 0px $blur $shadow-color;
  box-shadow: 0px 0px $blur $shadow-color;
}

@mixin text-shadow($blur) {
	-webkit-text-shadow: 0px 0px $blur $shadow-color;
  	-moz-text-shadow: 0px 0px $blur $shadow-color;
  	text-shadow: 0px 0px $blur $shadow-color;
}

a {
	color: $primary-font-color;
	font: $primary-font;
	text-decoration: none;

	&:link, &:hover, &:visited, &:active {
		text-decoration: none;
	}
}

.body {
	position: relative;
	overflow-y:scroll;
	width: 100%;
	height: calc(100vh - 50px);
	text-align: center;
}

.panel {
	height: 500px;
	margin: 30px 0px;
	display: inline-block;
	width: $panel-width;
	min-width: $panel-min-width;
	background-color: $primary-bg-color;
	@include box-shadow(10px);
}

@keyframes animateOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0.1;
		margin-top: 300px;

	}
}

@keyframes animateIn {
	from {
		opacity: 0.1;
		margin-top: 200px;
	}
	to {
		opacity: 1;
		margin-top: 0px;
	}
}

.animateIn {
	animation-name: animateIn;
	animation-duration: 0.5s;
}

.animateOut {
	animation-name: animateOut;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;

	-webkit-animation-name: animateOut;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-fill-mode: forwards;
}