$primary-bg-color: #222222;
$secondary-bg-color: #111111;

$shadow-color: black;

$primary-font-color: white;
$secondary-font-color: grey;

$primary-link-color: magenta;

$primary-font: "Gothic", serif;
$primary-font-size: 15px;

$header-height: 48px;


$panel-list-horiz-margin: 10px;
$panel-list-horiz-large-margin: 30px;

$panel-width: 60%;
$panel-min-width: 500px;
$panel-body-font-size: 20px;

@mixin box-shadow($blur) {
  -webkit-box-shadow: 0px 0px $blur $shadow-color;
  -moz-box-shadow: 0px 0px $blur $shadow-color;
  box-shadow: 0px 0px $blur $shadow-color;
}

@mixin text-shadow($blur) {
	-webkit-text-shadow: 0px 0px $blur $shadow-color;
  	-moz-text-shadow: 0px 0px $blur $shadow-color;
  	text-shadow: 0px 0px $blur $shadow-color;
}

a {
	color: $primary-link-color;
	font: $primary-font;
	text-decoration: none;

	&:link, &:hover, &:visited, &:active {
		text-decoration: none;
	}
}

.body {
	position: relative;
	overflow-y: auto;
	width: 100%;
	height: calc(100vh - 48px);
	text-align: center;
}

.panel-list {

	padding: 0px;
	margin: 0px;
	display: inline-block;
	list-style-type: none;

	li {
		@extend .panel;
	}

	&:first-child {
		margin-top: $panel-list-horiz-large-margin;		
	}

	&.large-gap {
		li {
			margin: $panel-list-horiz-large-margin 0px;
		}
	}
}

.panel {
	width: $panel-width;
	min-width: $panel-min-width;
	margin: $panel-list-horiz-margin 0px;
	text-align: left;
	display: inline-block;
	background-color: $primary-bg-color;
	@include box-shadow(10px);
	
	.panel-title {
		margin-left: 20px;
		margin-right: 10px;
	}

	.panel-body {
		margin: 10px 20px;
		font-size: $panel-body-font-size;
	}
}

@keyframes animateOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0.1;
		margin-top: 300px;

	}
}

@keyframes animateIn {
	from {
		opacity: 0.1;
		margin-top: 200px;
	}
	to {
		opacity: 1;
		margin-top: 0px;
	}
}

.animateIn {
	animation-name: animateIn;
	animation-duration: 0.5s;
}

.animateOut {
	animation-name: animateOut;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;

	-webkit-animation-name: animateOut;
	-webkit-animation-duration: 0.3s;
	-webkit-animation-fill-mode: forwards;
}