@import '../app.style';

$path-font-size: 20px;

$menu-horizontal-padding: 10px;
$menu-vertical-padding: 10px;

#header {
  z-index: 10;
  position: relative;
  height: $header-height;
  display: inline-block;
  text-align: center;
  background-color: $primary-bg-color;
  width: 100%;
  @include box-shadow(20px);
}

.activePath {
  border-bottom: 5px solid $primary-link-color;
}

#appbar-nav-menu {
  margin: 0px;
  display: inline-block;
  list-style-type: none;
  text-align: center;
  color: $primary-font-color;
  font-size: $path-font-size;

  li {
    display: inline-block;
    margin: 0px $menu-horizontal-padding;

    a {
      color: $primary-font-color;
      display: block;
      padding: $menu-vertical-padding 0px;
      text-decoration: none;

      &:hover {
        @extend .activePath;
      }
    }
  }
}
